
// ==========================================================================
// Fonts
// ==========================================================================

@font-face {
    font-family: 'icomoon';
    src:url('../../../fonts/icomoon/icomoon.eot?jhnvet');
    src:url('../../../fonts/icomoon/icomoon.eot?#iefixjhnvet') format('embedded-opentype'),
        url('../../../fonts/icomoon/icomoon.woff?jhnvet') format('woff'),
        url('../../../fonts/icomoon/icomoon.ttf?jhnvet') format('truetype'),
        url('../../../fonts/icomoon/icomoon.svg?jhnvet#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
    content: "\e01d";
}
.icon-chevron-down:before {
    content: "\e10f";
}
.icon-chevron-left:before {
    content: "\e110";
}
.icon-chevron-right:before {
    content: "\e111";
}
.icon-chevron-up:before {
    content: "\e112";
}
.icon-caret-down:before {
    content: "\e201";
}
.icon-caret-up:before {
    content: "\e203";
}
.icon-arrow-down:before {
    content: "\e205";
}
.icon-arrow-left:before {
    content: "\e200";
}
.icon-arrow-right:before {
    content: "\e206";
}
.icon-arrow-up:before {
    content: "\e204";
}
.icon-open:before {
    content: "\e2b3";
}
.icon-search:before {
    content: "\e2ca";
}

