
// ==========================================================================
// Breakpoints
// ==========================================================================

    $breakpoints: (
        xxxs                                                  : 320px, // mobile
        xxs                                                   : 480px, // mobile-landscape
        xs                                                    : 600px, // mobile-wide
        sm                                                    : 768px, // tablet
        md                                                    : 960px, // site
        lg                                                    : 1024px, // tablet-landscape
        xl                                                    : 1200px, // site-constraint
        xxl                                                   : 1280px, // desktop
        xxxl                                                  : 1500px // desktop-wide

        // Project Specific
        // These should also be added to $mq-breakpoints map.
    );

// ==========================================================================
// Media Queries
// ==========================================================================

    // Sass MQ - https://github.com/sass-mq/sass-mq

    // remove existing map values from $mq-breakpoints
    $mq-breakpoints: map-remove( $mq-breakpoints,
        'mobile',
        'tablet',
        'desktop',
        'wide'
    );

    // breakpoints
    $mq-breakpoints: map-merge( $mq-breakpoints, $breakpoints );

    // Define the breakpoint from the $mq-breakpoints list that should
    // be used as the target width when outputting a static stylesheet
    // (i.e. when $mq-responsive is set to 'false').
    $mq-static-breakpoint: sm;

    // Customize the media type (e.g. `@media screen` or `@media print`)
    // By default sass-mq uses an "all" media type (`@media all and …`)
    $mq-media-type: screen;

    // If you want to display the currently active breakpoint in the top
    // right corner of your site during development, add the breakpoints
    // to this list, ordered by width.
    // $mq-show-breakpoints: ( xxxs, xxs, xs, sm, md, lg, xl, xxl, xxxl );

// ==========================================================================
// Grid
// ==========================================================================

    // Susy
    $susy : (
        columns                                            : 12,
        gutters                                            : .33333, // [libsass] 2.0 doesn't handle decimals (e.g. 1/3)
        global-box-sizing                                  : border-box,
        gutter-position                                    : inside
    );

// ==========================================================================
// Colors
// ==========================================================================

    // Color Palette
    //
    // @link    color names: http://chir.ag/projects/name-that-color/
    // @example scss usage: background-color: color( tundora );
    $palette: (

        // Project Specific
        // ------------------------------------------------------------------


        // Global
        // ------------------------------------------------------------------

        tundora                                           : #494949,
        azure                                             : #0099ff,
        carnation                                         : #f55555,
        orange                                            : #ff6633,
        carrot                                            : #ff9933,
        shamrock                                          : #33cc99,
        cornflower                                        : #6666ff,
        waterloo                                          : #7f8492,
        aluminum                                          : #acb0bb,
        ghost                                             : #c1c7d4,
        geyser                                            : #d8dde6,
        catskill                                          : #eceff5,
        haze                                              : #f4f6f9,

        // Social Networks
        // ------------------------------------------------------------------

        dribbble                                          : #ea4c89,
        facebook                                          : #3b5998,
        linkedin                                          : #007fb1,
        rss                                               : #ff6600,
        email                                             : #ffdd68,
        instagram                                         : #3f729b,
        youtube                                           : #cd332d,
        vimeo                                             : #44bbff,
        tumblr                                            : #2c4762,
        pinterest                                         : #e41f11,
        googleplus                                        : #d14836,
        flickr                                            : #0063db,
        twitter                                           : #39a9e0

    );

// ==========================================================================
// Typography
// ==========================================================================

    $font-family                                           : 'Lato', 'Open Sans', sans-serif;
    $font-family-secondary                                 : $font-family;
    $font-size                                             : 16px;
    $font-color                                            : color( tundora );
    $link-color                                            : color( azure );
    $link-color-hover                                      : color( orange );

    $selection-highlight-background                        : color( azure );
    $selection-highlight-color                             : white;

// ==========================================================================
// Global Components
// ==========================================================================

    // Border Radius
    // ----------------------------------------------------------------------

    $border-radius                                         : 4px !default;
    $border-radius-sm                                      : 2px !default;
    $border-radius-lg                                      : 500px !default;

    // Spacing
    // ----------------------------------------------------------------------

    $spacer                                                : 20px !default;
    $spacer-x                                              : $spacer !default;
    $spacer-y                                              : $spacer !default;

    // Color States
    // ----------------------------------------------------------------------

    $state-info                                            : color( azure );
    $state-info-lt                                         : lighten( color( azure ), 45% );

    $state-update                                          : color( cornflower );
    $state-update-lt                                       : lighten( color( cornflower ), 26% );

    $state-success                                         : color( shamrock );
    $state-success-lt                                      : lighten( color( shamrock ), 43% );

    $state-warning                                         : color( carrot );
    $state-warning-lt                                      : lighten( color( carrot ), 35% );

    $state-error                                           : color( carnation );
    $state-error-lt                                        : lighten( color( carnation ), 32% );

// ==========================================================================
// Tables
// ==========================================================================

    $table-cell-padding                                    : 12px !default;
    $table-sm-cell-padding                                 : 4px !default;
    $table-bg                                              : transparent !default;
    $table-bg-accent                                       : color( haze ) !default;
    $table-border-color                                    : color( geyser ) !default;
    $table-bg-hover                                        : $table-bg-accent;

// ==========================================================================
// Buttons
// ==========================================================================

    $btn-padding-x                                         : 8px !default;
    $btn-padding-y                                         : 16px !default;
    $btn-text-transform                                    : none !default;

    $btn-primary-color                                     : white !default;
    $btn-primary-color-hover                               : white !default;
    $btn-primary-bg                                        : color( azure ) !default;
    $btn-primary-border                                    : color( azure ) !default;

    $btn-secondary-color                                   : white !default;
    $btn-secondary-color-hover                             : white !default;
    $btn-secondary-bg                                      : color( waterloo ) !default;
    $btn-secondary-border                                  : color( waterloo ) !default;

    $btn-tertiary-color                                    : $font-color !default;
    $btn-tertiary-color-hover                              : $font-color !default;
    $btn-tertiary-bg                                       : color( catskill ) !default;
    $btn-tertiary-border                                   : color( ghost ) !default;

    $btn-outline-color                                     : $btn-primary-bg !default;
    $btn-outline-color-hover                               : white !default;
    $btn-outline-bg                                        : transparent !default;
    $btn-outline-bg-hover                                  : $btn-primary-bg !default;
    $btn-outline-border                                    : $btn-primary-bg !default;

    // Allows for customizing button radius independently from global border radius
    $btn-border-radius                                     :$border-radius;
    $btn-border-radius-sm                                  :$border-radius-sm;
    $btn-border-radius-lg                                  :$border-radius-lg;

// ==========================================================================
// Offcanvas
// ==========================================================================

    // Menu
    // ----------------------------------------------------------------------

    $offcanvas-background-color                            : color( tundora );
    $offcanvas-link-color                                  : white;
    $offcanvas-link-color-hover                            : color( orange );
    $offcanvas-link-background-color-hover                 : darken( color( tundora ), 2% );
    $offcanvas-link-border-color                           : lighten( color( tundora ), 6% );

    // Toggle
    // ----------------------------------------------------------------------

    $menu-toggle-background-color                          : color( orange );
    $menu-toggle-background-color-hover                    : white;
    $menu-toggle-border-color                              : color( orange );
    $menu-toggle-border-color-hover                        : color( orange );
    $menu-toggle-line-color                                : white;
    $menu-toggle-line-color-hover                          : color( orange );
    $menu-toggle-line-color-active                         : color( orange );


// ==========================================================================
// Alerts
// ==========================================================================

    $alert-padding                                         : 16px !default;
    $alert-border-radius                                   : $border-radius !default;
    $alert-link-font-weight                                : 700 !default;

    $alert-info-bg                                         : $state-info-lt !default;
    $alert-info-color                                      : $state-info !default;
    $alert-info-border                                     : $state-info-lt !default;

    $alert-update-bg                                       : $state-update-lt !default;
    $alert-update-color                                    : $state-update !default;
    $alert-update-border                                   : $state-update-lt !default;

    $alert-success-bg                                      : $state-success-lt !default;
    $alert-success-color                                   : $state-success !default;
    $alert-success-border                                  : $state-success-lt !default;

    $alert-warning-bg                                      : $state-warning-lt !default;
    $alert-warning-color                                   : $state-warning !default;
    $alert-warning-border                                  : $state-warning-lt !default;

    $alert-error-bg                                        : $state-error-lt !default;
    $alert-error-color                                     : $state-error !default;
    $alert-error-border                                    : $state-error-lt !default;

// ==========================================================================
// Pagination
// ==========================================================================

    $pagination-color                                      : $font-color !default;
    $pagination-bg                                         : transparent !default;
    $pagination-border                                     : color( geyser ) !default;

    $pagination-hover-color                                : white !default;
    $pagination-hover-bg                                   : color( azure ) !default;
    $pagination-hover-border                               : color( azure ) !default;

    $pagination-dots                                       : color( ghost );

    $page-count                                            : color( ghost );
