
// ==========================================================================
// Breakpoints
// ==========================================================================

    $xxxs                                                  : 320px; // mobile
    $xxs                                                   : 480px; // mobile-landscape
    $xs                                                    : 600px; // mobile-wide
    $sm                                                    : 768px; // tablet
    $md                                                    : 960px; // site
    $lg                                                    : 1024px; // tablet-landscape
    $xl                                                    : 1200px; // site-constraint
    $xxl                                                   : 1280px; // desktop
    $xxxl                                                  : 1500px; // desktop-wide

    // Project Specific
    // These should also be added to $mq-breakpoints map.

// ==========================================================================
// Media Queries
// ==========================================================================

    // Sass-mq Configuration
    // Reference: https://github.com/sass-mq/sass-mq
    $mq-breakpoints: (
        xxxs                                               : $xxxs,
        xxs                                                : $xxs,
        xs                                                 : $xs,
        sm                                                 : $sm,
        md                                                 : $md,
        lg                                                 : $lg,
        xl                                                 : $xl,
        xxl                                                : $xxl,
        xxxl                                               : $xxxl

        // Project Specific
    );

    // Define the breakpoint from the $mq-breakpoints list that should
    // be used as the target width when outputting a static stylesheet
    // (i.e. when $mq-responsive is set to 'false').
    $mq-static-breakpoint: sm;

    // Customize the media type (e.g. `@media screen` or `@media print`)
    // By default sass-mq uses an "all" media type (`@media all and …`)
    $mq-media-type: screen;

    // If you want to display the currently active breakpoint in the top
    // right corner of your site during development, add the breakpoints
    // to this list, ordered by width.
    // $mq-show-breakpoints: ( xxxs, xxs, xs, sm, md, lg, xl, xxl, xxxl );

// ==========================================================================
// Grid
// ==========================================================================

    // Susy
    $susy : (
        columns                                            : 12,
        gutters                                            : .33333, // [libsass] 2.0 doesn't handle decimals (e.g. 1/3)
        global-box-sizing                                  : border-box,
        gutter-position                                    : inside
    );

// ==========================================================================
// Colors
// ==========================================================================

    // Color Names: http://chir.ag/projects/name-that-color/

    // Project Specific
    // ----------------------------------------------------------------------


    // Global
    // ----------------------------------------------------------------------

    $tundora                                               : #494949;
    $azure                                                 : #0099ff;
    $carnation                                             : #f55555;
    $orange                                                : #ff6633;
    $carrot                                                : #ff9933;
    $shamrock                                              : #33cc99;
    $cornflower                                            : #6666ff;
    $waterloo                                              : #7f8492;
    $aluminum                                              : #acb0bb;
    $ghost                                                 : #c1c7d4;
    $geyser                                                : #d8dde6;
    $catskill                                              : #eceff5;
    $haze                                                  : #f4f6f9;

    // Alerts
    // ----------------------------------------------------------------------

    $alert-message                                         : $azure;
    $alert-message-lt                                      : lighten( $azure, 20% );

    $alert-update                                          : $cornflower;
    $alert-update-lt                                       : lighten( $cornflower, 20% );

    $alert-success                                         : $shamrock;
    $alert-success-lt                                      : lighten( $shamrock, 20% );

    $alert-warning                                         : $carrot;
    $alert-warning-lt                                      : lighten( $carrot, 20% );

    $alert-error                                           : $carnation;
    $alert-error-lt                                        : lighten( $carnation, 20% );

    // Social Networks
    // ----------------------------------------------------------------------

    $dribbble                                              : #ea4c89;
    $facebook                                              : #3b5998;
    $linkedin                                              : #007fb1;
    $rss                                                   : #ff6600;
    $email                                                 : #ffdd68;
    $instagram                                             : #3f729b;
    $youtube                                               : #cd332d;
    $vimeo                                                 : #44bbff;
    $tumblr                                                : #2c4762;
    $pinterest                                             : #e41f11;
    $googleplus                                            : #d14836;
    $flickr                                                : #0063db;
    $twitter                                               : #39a9e0;

// ==========================================================================
// Typography
// ==========================================================================

    $font-family                                           : 'Lato', 'Open Sans', sans-serif;
    $font-family-secondary                                 : $font-family;
    $font-size                                             : 16px;
    $font-color                                            : $tundora;
    $link-color                                            : $azure;
    $link-color-hover                                      : $orange;

    $selection-highlight-background                        : $azure;
    $selection-highlight-color                             : white;

// ==========================================================================
// Offcanvas
// ==========================================================================

    // Menu
    // ----------------------------------------------------------------------

    $offcanvas-background-color                            : $tundora;
    $offcanvas-link-color                                  : white;
    $offcanvas-link-color-hover                            : $orange;
    $offcanvas-link-background-color-hover                 : darken( $tundora, 2% );
    $offcanvas-link-border-color                           : lighten( $tundora, 6% );

    // Toggle
    // ----------------------------------------------------------------------

    $menu-toggle-background-color                          : $orange;
    $menu-toggle-background-color-hover                    : white;
    $menu-toggle-border-color                              : $orange;
    $menu-toggle-border-color-hover                        : $orange;
    $menu-toggle-line-color                                : white;
    $menu-toggle-line-color-hover                          : $orange;
    $menu-toggle-line-color-active                         : $orange;
