
// ==========================================================================
// Base
// ==========================================================================

// Takes a nod to HTML5 Boilerplate's opinionated styles.
// @link: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css

// Variables
// --------------------------------------------------------------------------

// Selections
$selection-highlight-background                            : color( azure ) !default;
$selection-highlight-color                                 : white !default;

// Hr
$hr-border-color                                           : color( ghost ) !default;





html {
    background-color: white;
    font-size: 1em;
    line-height: 1.4;
}

/**
 * 1. Remove subpixel-antialiased default.
 * 2. Keep for retina resolutions.
 *
 * @link: http://www.intridea.com/blog/2014/5/8/better-font-smoothing-in-chrome-on-mac-os-x
 */
*,
*:after,
*:before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; /* 1 */
    @media
        only screen and (-webkit-min-device-pixel-ratio: 1.25),
        only screen and ( min-device-pixel-ratio: 1.25),
        only screen and ( min-resolution: 200dpi),
        only screen and ( min-resolution: 1.25dppx) {
            -webkit-font-smoothing: subpixel-antialiased;
    } /* 2 */
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: $selection-highlight-background;
    color: $selection-highlight-color;
    text-shadow: none;
}

::selection {
    background: $selection-highlight-background;
    color: $selection-highlight-color;
    text-shadow: none;
}

embed,
iframe,
object {
    max-width: 100%;
}

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $hr-border-color;
    margin: $spacer-y 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize: vertical;
}
