
// ==========================================================================
// Helpers
// ==========================================================================





/* Visibility
   ========================================================================== */

.visuallyhidden,
.screen-reader-text {
    @include visuallyhidden;
}





/* Corners
   ========================================================================== */

.corner {
    border-radius: 4px;
}





/* Borders
   ========================================================================== */

.border {
    border: 1px solid color( geyser );
}

.border-right {
    border-right: 1px solid color( geyser );
}

.border-bottom {
    border-bottom: 1px solid color( geyser );
}

.border-left {
    border-left: 1px solid color( geyser );
}

.border-top {
    border-top: 1px solid color( geyser );
}





/* Text
   ========================================================================== */

.text-center {
    text-align: center;
}

.text-center--mobile {
    @include mq( $until: sm ) {
        text-align: center;
    }
}

.text-center--desktop {
    @include mq( $from: sm ) {
        text-align: center;
    }
}

.text-right {
    text-align: right;
}

.text-right--mobile {
    @include mq( $until: sm ) {
        text-align: right;
    }
}

.text-right--desktop {
    @include mq( $from: sm ) {
        text-align: right;
    }
}

.text-capitalize {
    text-transform: capitalize;
}

.text-upper {
    text-transform: uppercase;
}

.text-xxs {
    @include rem( 'font-size', 12px );
}

.text-xs {
    @include rem( 'font-size', 16px );
}

.text-sm {
    @include rem( 'font-size', 18px );
}

.text-md {
    @include rem( 'font-size', 22px );
}

.text-lg {
    @include rem( 'font-size', 29px );
}

.text-xl {
    @include rem( 'font-size', 45px );
}

.text-xxl {
    @include rem( 'font-size', 63px );
}

/**
 * Text Colors
 *
 * @example output: .text-tundora { color: #494949 }
 */
@each $key, $value in $palette {
    .text-#{$key} {
        color: $value;
    }
}





/* Background
   ========================================================================== */

/**
 * Background Colors
 *
 * @example output: .bg-tundora { background-color: #494949 }
 */
@each $key, $value in $palette {
    .bg-#{$key} {
        background-color: $value;
    }
}





/* Alignment
   ========================================================================== */

.pull-center {
    margin: 0 auto;
    display: block;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}





/* Hidden
   ========================================================================== */

.hide-on-mobile {
    @include mq( $until: sm ) {
        display: none !important;
    }
}

.hide-on-desktop {
    @include mq( $from: sm ) {
        display: none !important;
    }
}





/* Code
   ========================================================================== */

.code {
    background-color: color( catskill );
    @include rem( 'padding', 0 4px );
}
