
// ==========================================================================
// Layout
// ==========================================================================

/* Constrain
   ========================================================================== */

%l-constrain {
    margin: 0 auto;
    width: 100%;
    max-width: bp( md );
    @include clearfix;
}

.l-constrain {
    @extend %l-constrain;
}

.l-constrain-xxxs {
    @extend %l-constrain;
    max-width: bp( xxxs ); // 320
}

.l-constrain-xxs {
    @extend %l-constrain;
    max-width: bp( xxs ); // 480
}

.l-constrain-xs {
    @extend %l-constrain;
    max-width: bp( xs ); // 600
}

.l-constrain-sm {
    @extend %l-constrain;
    max-width: bp( sm ); // 768
}

.l-constrain-md {
    @extend %l-constrain;
    max-width: bp( md ); // 960
}

.l-constrain-lg {
    @extend %l-constrain;
    max-width: bp( lg ); // 1024
}

.l-constrain-xl {
    @extend %l-constrain;
    max-width: bp( xl ); // 1200
}

.l-constrain-xxl {
    @extend %l-constrain;
    max-width: bp( xxl ); // 1280
}

.l-constrain-xxxl {
    @extend %l-constrain;
    max-width: bp( xxxl ); // 1500
}





/* Container
   ========================================================================== */

.l-container {
    @include clearfix;
}





/* Sections
   ========================================================================== */

.l-section {
    @include rem( 'padding', 0 8px );
}

.l-section-xxs {
    @include rem( 'padding', 8px );

    @include mq( $until: sm ) {
        @include rem( 'padding-top', 16px );
        @include rem( 'padding-bottom', 16px );
    }
}

.l-section-xs {
    @include rem( 'padding', 16px 8px );
}

.l-section-sm {
    @include rem( 'padding', 24px 8px );

    @include mq( $until: sm ) {
        @include rem( 'padding-top', 16px );
        @include rem( 'padding-bottom', 16px );
    }
}

.l-section-md {
    @include rem( 'padding', 32px 8px );

    @include mq( $until: sm ) {
        @include rem( 'padding-top', 16px );
        @include rem( 'padding-bottom', 16px );
    }
}

.l-section-lg {
    @include rem( 'padding', 48px 8px );

    @include mq( $until: sm ) {
        @include rem( 'padding-top', 16px );
        @include rem( 'padding-bottom', 16px );
    }
}

.l-section-xl {
    @include rem( 'padding', 64px 8px );

    @include mq( $until: sm ) {
        @include rem( 'padding-top', 16px );
        @include rem( 'padding-bottom', 16px );
    }
}

.l-section-xxl {
    @include rem( 'padding', 96px 8px );

    @include mq( $until: sm ) {
        @include rem( 'padding-top', 16px );
        @include rem( 'padding-bottom', 16px );
    }
}

.l-section-xxxl {
    @include rem( 'padding', 128px 8px );

    @include mq( $until: sm ) {
        @include rem( 'padding-top', 16px );
        @include rem( 'padding-bottom', 16px );
    }
}





/* Layouts
   ========================================================================== */

.l-primary {
    @include mq( $until: sm ) {
        padding-bottom: 2em;
    }
    @include mq( $from: sm ) {
        padding-right: 1.5em;
        @include span( 8 no-gutters );
    }
    @include mq( $from: md ) {
        @include span( 9 no-gutters );
    }
}

.l-secondary {
    @include mq( $from: sm ) {
        padding-left: 1.5em;
        @include span( 4 no-gutters );
    }
    @include mq( $from: md ) {
        @include span( 3 no-gutters );
    }
}

.l-split {
    @include mq( $until: sm ) {
        & + & {
            padding-top: 1em;
        }
    }

    @include mq( $from: sm ) {
        padding: 0 1em;

        &:first-child {
            padding-left: 0;
            @include span( 6 no-gutters first );
        }

        &:last-child {
            padding-right: 0;
            @include span( 6 no-gutters last );
        }
    }
}

.l-split--full {
    padding: 0;
}
