
// ==========================================================================
// Buttons
// ==========================================================================

.btn  {
    position: relative;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    background-color: $btn-primary-bg;
    border: 1px solid transparent;
    border-radius: $btn-border-radius;
    text-align: center;
    text-transform: $btn-text-transform;
    touch-action: manipulation;
    cursor: pointer;
    color: $btn-primary-color;
    @include rem( 'padding', $btn-padding-x $btn-padding-y );
    @include rem( 'font-size', $font-size );
    @include transition-property( color, background, border );
    @include transition-duration( .15s );

    &:hover {
        background-color: darken( $btn-primary-bg, 8% );
        color: $btn-primary-color-hover;
    }
}

.btn--secondary {
    background-color: $btn-secondary-bg;
    color: $btn-secondary-color-hover;

    &:hover {
        background-color: darken( $btn-secondary-bg, 8% );
    }
}

.btn--tertiary {
    background-color: $btn-tertiary-bg;
    border-color: $btn-tertiary-border;
    color: $btn-tertiary-color;

    &:hover {
        background-color: darken( $btn-tertiary-bg, 8% );
        color: $btn-tertiary-color-hover;
    }
}

.btn--outline {
    background-color: transparent;
    border-color: $btn-outline-border;
    color: $btn-outline-color;

    &:hover {
        background-color: darken( $btn-outline-bg-hover, 8% );
        color: $btn-outline-color-hover;
    }
}

.btn--success {
    background-color: $state-success;
    color: white;

    &:hover {
        background-color: darken( $state-success, 10% );
        color: white;
    }
}

.btn--warning {
    background-color: $state-warning;
    color: white;

    &:hover {
        background-color: darken( $state-warning, 10% );
        color: white;
    }
}

.btn--error {
    background-color: $state-error;
    color: white;

    &:hover {
        background-color: darken( $state-error, 10% );
        color: white;
    }
}





/* Sizes
   ========================================================================== */

.btn--sm {
    font-size: 70%
}

.btn--lg {
    font-size: 115%;
}





/* Girth [ +_- ]
   ========================================================================== */

.btn--girth-sm {
    @include rem( 'padding', 12px 30px );
}

.btn--girth-lg {
    @include rem( 'padding', 20px 50px );
}





/* Width
   ========================================================================== */

.btn--full {
    width: 100%;
}

.btn--half {
    width: 50%;
}

.btn--third {
    width: 33.33333%;
}

input[type="submit"],
input[type="button"],
button[type="submit"] {

    &.btn--full {
        width: 100%;
    }

    &.btn--half {
        width: 50%;
    }

    &.btn--third {
        width: 33.33333%;
    }
}




/* Icons
   ========================================================================== */

.btn--icon-left,
.btn--icon-right {
    position: relative;

    [class^="icon-"], [class*=" icon-"] {
        position: absolute;
        top: 50%;
        @include transform( translateY( -50% ) );
    }
}

.btn--icon-left {
    padding-left: 2.5em;

    [class^="icon-"], [class*=" icon-"] {
        left: .75em;
    }
}

.btn--icon-right {
    padding-right: 2.5em;

    [class^="icon-"], [class*=" icon-"] {
        right: 0.75em;
    }
}





/* Disabled
   ========================================================================== */

.btn[disabled],
.btn--disabled,
.btn--disabled:hover,
.btn--disabled:focus,
.btn--disabled:active {
    background-color: color( geyser );
    background-image: none;
    box-shadow: none;
    border: 0;
    opacity: .4;
    cursor: not-allowed;
    color: color( waterloo );
}
