
// ==========================================================================
// Media Query Check
// ==========================================================================

/**
 * Content property must be applied to pseudo elements - http://stackoverflow.com/a/18470807
 * Cannot get value of pseudo element property with jQuery since it's not part of the DOM
 * This is possible with JavaScript using this method (http://davidwalsh.name/pseudo-element). However, it
 * isn't compatbile with LTE IE8
 *
 * 1. Needed for getting z-index value in js
 * 2. Denotes mobile
 */

.mq-state {
    position: relative; /* 1 */
    z-index: 5; /* 2 */
    display: none;

    &:before {
        content: "xxxs";
    }
}
@include mq( $from: xxs ) {
    .mq-state {
        z-index: 10;

        &:before {
            content: "xxs";
        }
    }
}
@include mq( $from: xs ) {
    .mq-state {
        z-index: 15;

        &:before {
            content: "xs";
        }
    }
}
@include mq( $from: sm ) {
    .mq-state {
        z-index: 20;

        &:before {
            content: "sm";
        }
    }
}
@include mq( $from: md ) {
    .mq-state {
        z-index: 25;

        &:before {
            content: "md";
        }
    }
}
@include mq( $from: lg ) {
    .mq-state {
        z-index: 30;

        &:before {
            content: "lg";
        }
    }
}
@include mq( $from: xl ) {
    .mq-state {
        z-index: 35;

        &:before {
            content: "xl";
        }
    }
}
@include mq( $from: xxl ) {
    .mq-state {
        z-index: 40;

        &:before {
            content: "xxl";
        }
    }
}
@include mq( $from: xxxl ) {
    .mq-state {
        z-index: 45;

        &:before {
            content: "xxxl";
        }
    }
}
