
// ==========================================================================
// Notifications
// ==========================================================================

.notification {
    padding: 1em;
    position: relative;
    background-color: color( haze );
    @include transition( background .15s );
}

.notification--error {
    background-color: $alert-error-lt;
    color: $alert-error;
}

.notification--warning {
    background-color: $alert-warning-lt;
    color: $alert-warning;
}

.notification--success {
    background-color: $alert-success-lt;
    color: $alert-success;
}

.notification__message {

    a {
        text-decoration: underline;

        .notification--error & {
            color: $alert-error;
        }

        .notification--warning & {
            color: $alert-warning;
        }

        .notification--success & {
            color: $alert-success;
        }
    }

    > * { // remove any styling from editor added tags
        margin: 0;
        padding: 0;
    }
}

.notification__close {
    padding: .5em;
    position: absolute;
    top: .5em;
    right: .5em;
    z-index: 1;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    color: color( geyser );
    @include rem( 'font-size', 10px );
    @include transition-property( color, transform );
    @include transition-duration( .15s );
    @include transform( rotate( 0deg ) );

    &:hover {
        color: $alert-error;
        @include transform( rotate( 90deg ) );
    }
}
