
// ==========================================================================
// Pagination
// ==========================================================================

.pagination {
    @include rem( 'margin-bottom', $spacer-y );
}

.pagination--center {
    text-align: center;
}

.pagination-list {
    padding: 0;
    list-style-type: none;
    @include rem( 'margin', 0 0 $spacer-y );
}

.pagination-list__item {
    display: inline-block;
    vertical-align: middle;
    color: $pagination-color;
    @include rem( 'margin-left', -1px );

    span,
    a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: block;
        text-align: center;
    }

    a {
        display: block;
        background-color: $pagination-bg;
        border: 1px solid $pagination-border;
        color: $pagination-color;

        &:hover {
            color: $pagination-hover-color;
            background-color: $pagination-hover-bg;
            border-color: $pagination-hover-border;
        }
    }

    .current {
        color: $pagination-hover-color;
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border;
    }

    .dots {
        color: $pagination-dots;
    }

    &:first-child {
        margin-left: 0;
    }
}

.page-count {
    color: $page-count;
    @include rem( 'font-size', 10px );
}





/* Previous / Next Links
   ========================================================================== */

// WordPress native functions. Styling can be found in '_wordpress.scss"'
//
// - get_the_posts_navigation()
// - get_the_post_navigation()
//
// @link https://developer.wordpress.org/reference/functions/get_the_posts_navigation/
// @link https://developer.wordpress.org/reference/functions/get_the_post_navigation/
