
// ==========================================================================
// Tabs
// ==========================================================================

// Variables
// --------------------------------------------------------------------------

// Tabs
$tabs-border-color                                         : color( geyser ) !default;

// Link
$tabs-link-weight                                          : 700 !default;
$tabs-link-bg                                              : transparent !default;
$tabs-link-color                                           : $font-color !default;

$tabs-link-bg-hover                                        : color( haze ) !default;
$tabs-link-color-hover                                     : $link-color-hover !default;





/* Tabs
   ========================================================================== */

.tabs {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid $tabs-border-color;
}

.tabs__item {
    display: inline-block;
}

.tabs__link {
    display: block;
    font-weight: $tabs-link-weight;
    text-align: center;
    background-color: $tabs-link-bg;
    color: $tabs-link-color;
    @include rem( 'padding', 10px 20px );
    @include rem( 'font-size', 14px );

    &:hover,
    .is-active & {
        background-color: $tabs-link-bg-hover;
        color: $tabs-link-color-hover;
    }
}





/* Tab Panels
   ========================================================================== */

.tab-panels {
    border: 1px solid $tabs-border-color;
    border-top: 0;
}

.tab-panel {
    display: none;
    @include rem( 'padding', 24px );

    &.is-active {
        display: block;
    }
}
